In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv("Toyota.csv",index_col=0,na_values=['??','????'])
df1 = df.copy()

# Frequency Tables

<li>variable->column</li>
<li>Q. How we get the frequency of our variables & what is frequency table.</li>
<li>Suppose we have multiple variables in our dataframe and if we want to understand the data more</li>
<li>So, we can basically want to check the relationship that exists b/w the variables, but we can't just check like the relationship b/w all the variables means we can check the variable relationship b/w all the variables at one time</li>
<li> so, we can do one by one for example the relationship between any categorical variable using Cross Tabulation or if we want to just Univariate analysis on the categorical variable, so we can also create a frequency table. </li>
<li>So, finding the relationship b/w the variables we can also use the cross tabulation or if you want to off univariate analysis</li>

<b>pandas.crosstab()</b>
<ul>
    <li>To compute a simple cross-tabulation of one, two(or more) factors</li>
    <li>By default computes a frequency table of the factors(particular column)</li>
    
</ul>

In [2]:
# we create object for that & then in this object we are apply the method crosstab, 
# In crosstab parameter we select one columnand then get the frequency of that column using count, becoz we want frequency
# dropna=true means it only count frequency of fixed column not blank/na column.

df1_cate = pd.crosstab(index=df1['FuelType'],columns='count',dropna=True)
print(df1_cate)

col_0     count
FuelType
CNG          15
Diesel      144
Petrol     1177

# Create Two-way Table

In [5]:
# we will simply look at the frequency distribution of gear box types with respect to the fueltypes of the cars
# It's two way table so we use here 2 columns how many manual and automatic[0-manual,1-automatic]

pd.crosstab(index=df1["Automatic"],columns=df1["FuelType"],dropna=True)

FuelType   CNG  Diesel  Petrol
Automatic
0           15     144    1104
1            0       0      73

# Two-Way Table - Joint Probability

joint probability is likelihood of means of two independent events, likw what happening at the same time that is probability.
<br>
We are going to fetch the probability values, like how many chances of getting cng manual, how many chances of getting patrol manual

In [6]:
pd.crosstab(index=df1["Automatic"],columns=df1["FuelType"],dropna=True,normalize=True)

FuelType        CNG    Diesel    Petrol
Automatic
0          0.011228  0.107784  0.826347
1          0.000000  0.000000  0.054641

# Two-Way Marginal Probability

Marginal Probability is the probability of the occurrence of the single event
<br>
In this we will get the total value of a single means of CNG on both like on manual gearbox also and on automatic gearbox<br> we also get the total value also.
<br>
here we get the total values both rowwise also and column wise also

In [8]:
pd.crosstab(index=df1["Automatic"],columns=df1["FuelType"],dropna=True,normalize=True,margins=True)

FuelType        CNG    Diesel    Petrol       All
Automatic
0          0.011228  0.107784  0.826347  0.945359
1          0.000000  0.000000  0.054641  0.054641
All        0.011228  0.107784  0.880988  1.000000

# Two-Way Table - Conditional Probability

--> Is the probability of an event 'A', which is given that another event 'B' has already occured<br> so, mean based on the another event we will find the probability of event 'A'
<br>
if we do total of rowwise and columnwise we get one from both sides
<br>
index = row, columns = columns

In [9]:
pd.crosstab(index=df1["Automatic"],columns=df1["FuelType"],margins=True,normalize='index')

FuelType        CNG    Diesel    Petrol
Automatic
0          0.011876  0.114014  0.874109
1          0.000000  0.000000  1.000000
All        0.011228  0.107784  0.880988

In [10]:
pd.crosstab(index=df1["Automatic"],columns=df1["FuelType"],margins=True,normalize='columns')

FuelType   CNG  Diesel    Petrol       All
Automatic
0          1.0     1.0  0.937978  0.945359
1          0.0     0.0  0.062022  0.054641

# Correlation
<ul>
    <b>DataFrame.corr(self,method='person')</b>
    <li>To compute pairwise correlation of the columns excluding NA/null values</li>
    <li>Excluding the categorical variables to find the Pearson's correlation</li>
    <li><b>Pearson correlation</b> pi & correlation is find between only numerical values means only numerical variables</li>
</ul>
--> Finding the relationship between two variables <br>
correlation give us 3 values zero, one (highest value) means it's between 0 and 1 on the positive side or in the negative side<br>
if the value is in the positive side one means the highest value will be positive one then there is high increasing relationship between those two variables <br>
'-1' means highest decreasing value <br>
'0' means it is neutral

In [14]:
# excluding the object type/categorical value

numerical_data = df1.select_dtypes(exclude=['object'])
print(numerical_data)
print(numerical_data.shape)

      Price   Age       KM     HP  MetColor  Automatic    CC  Weight
0     13500  23.0  46986.0   90.0       1.0          0  2000    1165
1     13750  23.0  72937.0   90.0       1.0          0  2000    1165
2     13950  24.0  41711.0   90.0       NaN          0  2000    1165
3     14950  26.0  48000.0   90.0       0.0          0  2000    1165
4     13750  30.0  38500.0   90.0       0.0          0  2000    1170
...     ...   ...      ...    ...       ...        ...   ...     ...
1431   7500   NaN  20544.0   86.0       1.0          0  1300    1025
1432  10845  72.0      NaN   86.0       0.0          0  1300    1015
1433   8500   NaN  17016.0   86.0       0.0          0  1300    1015
1434   7250  70.0      NaN   86.0       1.0          0  1300    1015
1435   6950  76.0      1.0  110.0       0.0          0  1600    1114

[1436 rows x 8 columns]
(1436, 8)

In [16]:
# correaltion

corr_matrix = numerical_data.corr(method='pearson')
corr_matrix

,Price,Age,KM,HP,MetColor,Automatic,CC,Weight
Price,1.000000,-0.878407,-0.574720,0.309902,0.112041,0.033081,0.165067,0.581198
Age,-0.878407,1.000000,0.512735,-0.157904,-0.099659,0.032573,-0.120706,-0.464299
KM,-0.574720,0.512735,1.000000,-0.335285,-0.093825,-0.081248,0.299993,-0.026271
HP,0.309902,-0.157904,-0.335285,1.000000,0.064749,0.013755,0.053758,0.086737
MetColor,0.112041,-0.099659,-0.093825,0.064749,1.000000,-0.013973,0.029189,0.057142
Automatic,0.033081,0.032573,-0.081248,0.013755,-0.013973,1.000000,-0.069321,0.057249
CC,0.165067,-0.120706,0.299993,0.053758,0.029189,-0.069321,1.000000,0.651450
Weight,0.581198,-0.464299,-0.026271,0.086737,0.057142,0.057249,0.651450,1.000000

As we can see we are getting the values like this <br> and this is principal diagonal<br>
means if we are getting the same values, so it will give us one for price and price it is one <br>
and for age and age it is one <br>
so when we are comparing price and age it is negative correlation age increase prie decrease