In [2]:
#!pip install mysql-connector-python

In [5]:
import sqlite3  # Import the sqlite3 library to work with SQLite databases

# 1. Connect to the SQLite database
# This creates a connection object that represents the database. If the 'example.db' file doesn't exist, 
# it will be created in the current working directory. 
# The 'connection' object allows us to execute SQL commands and interact with the database.
connection = sqlite3.connect('example.db')

# 2. Create a cursor object to execute SQL commands
# The cursor is like a handler that helps us execute SQL queries and fetch results from the database.
cursor = connection.cursor()

# 3. Create a table (if it does not exist)
# The SQL command below creates a table called 'students' with four columns: 'id', 'name', 'age', and 'grade'.
# 'id' is the primary key, meaning it uniquely identifies each row. 
# The 'IF NOT EXISTS' clause ensures that the table will only be created if it doesn't already exist in the database.
# cursor.execute('''
#     CREATE TABLE IF NOT EXISTS students (
#         id INTEGER PRIMARY KEY,  # Unique identifier for each student
#         name TEXT NOT NULL,       # Name of the student (must not be null)
#         age INTEGER,              # Age of the student
#         grade TEXT                # Grade of the student (e.g., A, B, C)
#     )
# ''')

cursor.execute('''
    CREATE TABLE IF NOT EXISTS students (
        id INTEGER PRIMARY KEY,  
        name TEXT NOT NULL,       
        age INTEGER,              
        grade TEXT                
    )
''')

# 4. Insert some data into the table
# This SQL command inserts one row into the 'students' table with the name 'John Doe', age 20, and grade 'A'.
# SQL uses the 'INSERT INTO' command to add new records to a table.
cursor.execute('''
    INSERT INTO students (name, age, grade)
    VALUES ('John Doe', 20, 'A')
''')

# 5. Commit the transaction
# This saves the changes to the database. Without committing, the data will not be permanently stored in the database.
connection.commit()

# 6. Query the data
# The 'SELECT' SQL command is used to retrieve data from the 'students' table.
# This line fetches all the rows from the table (using the '*' wildcard, which means all columns).
cursor.execute('SELECT * FROM students')

# 7. Fetch and display the results
# The 'fetchall()' method retrieves all rows returned by the query as a list of tuples.
# Each tuple represents a row in the database. We then loop through the rows and print each one.
rows = cursor.fetchall()
for row in rows:
    print(row)

# 8. Close the connection
# It's important to close the connection after all operations are completed to free up resources.
connection.close()

(1, 'John Doe', 20, 'A')

In [8]:
# import pandas as pd

# # 1. Create a Pandas DataFrame
# data = {
#     'name': ['Alice', 'Bob', 'Charlie'],
#     'age': [22, 23, 21],
#     'grade': ['B', 'A', 'C']
# }

# df = pd.DataFrame(data)

# # 2. Save the DataFrame to a CSV file (this will create a 'students.csv' file)
# df.to_csv('students.csv', index=False)

# # 3. Display the DataFrame
# print(df)

In [9]:
import sqlite3
import csv

# 1. Connect to the SQLite database (same as before)
connection = sqlite3.connect('example.db')
cursor = connection.cursor()

# 2. Create the table (if not exists) (same as before)
cursor.execute('''
    CREATE TABLE IF NOT EXISTS students (
        id INTEGER PRIMARY KEY,
        name TEXT NOT NULL,
        age INTEGER,
        grade TEXT
    )
''')

# 3. Load data from a CSV file
# Open the CSV file. Assume the CSV file has columns: 'name', 'age', 'grade'.
with open('students.csv', newline='') as csvfile:
    reader = csv.DictReader(csvfile)
    for row in reader:
        # 4. Insert each row into the students table
        cursor.execute('''
            INSERT INTO students (name, age, grade)
            VALUES (?, ?, ?)
        ''', (row['name'], row['age'], row['grade']))

# 5. Commit the changes to save the inserted data
connection.commit()

# 6. Query and display the data to verify the insertions
cursor.execute('SELECT * FROM students')
rows = cursor.fetchall()
for row in rows:
    print(row)

# 7. Close the connection
connection.close()

(1, 'John Doe', 20, 'A')
(2, 'Alice', 22, 'B')
(3, 'Bob', 23, 'A')
(4, 'Charlie', 21, 'C')
(5, 'Alice', 22, 'B')
(6, 'Bob', 23, 'A')
(7, 'Charlie', 21, 'C')